body{
    margin: 0;
    padding: 0;
}
.navbar-brand img {
    width: 80px;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 0.5em;
    letter-spacing: 4px;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }

  /* HERO SECTION */
.banner {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.parent{
    display: flex;
    flex-wrap: wrap;
}
.follow-us p{
    margin-top: 160px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #64494a;
}
.vert img{
    margin: 5px 5px 5px 10px;
}
.v{
    border-left: 4px solid #64494a;
    margin-left: 25px;
    height: 50px;
 }
.hero-text{
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 300px;
}
.hero-text img{
    margin-top: 200px;
    margin-bottom: 20px;
}

/* ACTIVITIES SECTION */
.activities-header {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fb6f46;
    font-weight: 100;
    font-size: 66px;
}
.activities-p{
    text-align: center;
    justify-content: center;
    font-size: 24px;
    padding: 0 150px 0;
    margin-bottom: 50px;
}
.activities-section h1, p{
    margin-left: 40px;
}
.activities-section img{
    height: 100px;
    width: 200px;
    margin-left: 80px;
    margin-bottom: 50px;
}
.number{
    font-size: 54px;
    font-weight: 1000;
    text-align: center;
    justify-content: center;
    color: #7c7f54;
}
.name{
    color: #7c7f54; 
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}

/* WHA WE'VE BEEN UP TO SECTION */
.showcase-section{
    background-color: #7c7f54;
}
.showcase-h1{
    color: #ffcf8e;
    text-align: center;
    font-weight: 100;
    font-size: 66px;
    margin: 30px;
}
.third{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 24px;
}
.button{
    border: 2px solid #ffcf8e;
    background: transparent;
    color:  #ffcf8e;
    margin: 30px;
    padding: 5px 15px 5px 15px;
}


/* BLOG SECTION */
.blog-heading{
    text-align: center;
    color:  #fb6f46;
    margin: 70px 0 70px 0;
    font-weight: 100;
    font-size: 66px;
}
.blog h1{
    margin-top: 30px;
}
.blog p{
    font-size: 24px;
}
.text-color{
    color: #7c7f54;
}
.blog-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.blog-button{
    border: 2px solid #7c7f54;
    background: transparent;
    color:  #7c7f54;
    margin: 30px;
    padding: 5px 15px 5px 15px;
    font-size: 24px;
}

/* FOOTER SECTION */
.footer{
    background-color: #fb6f46;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}
.footer h1{
    color: #ffcb8d;
    font-weight: 500;
    letter-spacing: 5px;
}
.footer h5{
    margin-bottom: 10px;
}
.input-text input{
    background-color: transparent;
    padding: 15px 200px 15px 20px;
    border: 3px solid #ffcb8d;
}
.input-text button{
    background-color: #7c7f54;
    color: #fff;
    padding: 15px 20px 15px 20px;
    border: 3px solid #ffcb8d;
    font-weight: bold;
}
.input-text ::placeholder{
    color: #fff;
    text-align: left;
    font-size: 18px;
}

/* COPYRIGHT SECTION */
.copyright{
    padding: 20px 0 20px 0;
    background-color: #4e463d;
    color: white;
    text-align: center;
}
